@charset "utf-8";

body {
	color: #5F5F5F;
	font-family: "Tahoma", "ו";
	font-size: 12px;
	text-align: left;
}

h1,h2,h3,h4,h5,h6,form,div,p,i,img,ul,li,ol,table,tr,td,fieldset,label,legend
	{
	margin: 0;
	padding: 0;
}

h2 {
	display: block;
	font-size: 1.5em;
	font-weight: bold;
	margin: 0.83em 0;
}

:link,:visited {
	color: #313131;
}

a {
	color: #303030;
	font-size: 12px;
	line-height: 19px;
	text-decoration: none;
}

.area_stickylist h2 {
	color: #000000;
	font-size: 14px;
	height: 20px;
	line-height: 20px;
	padding: 0;
	margin-top: 0px;
	margin-bottom: 5px;
	border-bottom: 1px solid #C6E7FF;
}

.area_stickylist h2 img {
	padding-right: 5px;
	vertical-align: middle;
}

.area_stickylist h2 span {
	color: #000000;
}

h2 .switch {
	font-weight: normal;
	font-size: 12px;
	color: #999999;
	float: right
}

h2 .stickylist_hidden_flag {
	font-weight: normal;
	font-size: 12px;
	color: #999999;
	display: none;
	float: left;
}

ul.stickylist {
	list-style: none;
}

ul.stickylist li {
	font-family: "ו";
	overflow: hidden;
	height: 20px;
}

ul.stickylist li span.posttime {
	margin-left: 10px;
	margin-right: 5px;
	float: right;
}

ul.stickylist li a {
	
}

/**/
.area_buttonlist {
	height: 30px;
	background-color: #D6EFFF;
	border-top: 1px solid #A5BDCE;
	border-bottom: 1px solid #A5BDCE;
	margin: 0px;
	padding-top: 6px;
}

.area_buttonlist .btn {
	font-size: 12px;
}

.area_buttonlist .input {
	font-size: 12px;
	width: 130px;
}

/**/
.area_articlelist .pageview {
	background-color: #D6EFFF;
	border-bottom: 1px solid #A5BDCE;
}

.area_articlelist ul li {
	background-color: #E7F7FF;
}


/******************************/
