@charset "utf-8";

html {
	text-align:left;
}
body {
	background:#FFFFFF none repeat scroll 0 0;
	overflow-x:hidden;
	text-align:center;
}
body, div, ul, li, p, font, form, table {
	border:0 none;
	font-size:12px;
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin:0;
	padding:0;
}
a {
	color:#535353;
	text-decoration:none;
}
image, img {
	border: none;
}
form {
	display:inline;
}
input, select, textarea {
	font-size:12px;
}
table.main {
	background: transparent url(images/top_bg.gif) repeat scroll 0% 0%;
}
table.main .row1 td, table.main .row2 td {
	height: 25px;
	padding: 0;
}
.logo {
	width: 145px;
	float:left;
	padding-top: 5px;
	margin-left: 15px;
color:#DE0000;
	font-family:'ו';
	font-weight:bold;
	font-size: 16px;
}
.login_form {
	color:#0060A4;
	margin-top:2px;
	height: 25px;
	margin: 0;
	padding-bottom: 10px;
}
.login_form .input {
	vertical-align:middle;
	border:1px solid #C9CCD1;
	font-size:12px;
	height:15px;
	width:80px;
}
.login_form .img {
	width: 39px;
	height:19px;
}
a.returnHome {
	background:transparent url(images/returnIcon.gif) no-repeat scroll 0 50%;
	line-height:20px;
	margin-left:4px;
	margin-top:5px;
	padding-left:10px;
	text-decoration:underline;
}
/*==============*/

#bbsnav {
	background:transparent url(images/bbs_menu_bg.PNG) no-repeat scroll 0 0;
	font-weight: bold;
	padding-left: 27px;
}
#bbsnav ul {
	margin-left:20px;
}
#bbsnav ul li {
	color:#FFFFFF;
	float:left;
	font-size:14px;
	height:21px;
	line-height:21px;
	text-align:center;
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
}
#bbsnav ul li a {
	color:#FFFFFF;
	float:left;
	font-size:14px;
	height:21px;
	line-height:21px;
}
#bbsnav ul li.line {
	background:transparent url(images/bbsnavline.gif) no-repeat scroll center center;
	height:23px;
	width:30px;
}