<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</property>
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost/student_info_system</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password">jerval</property>
		<property name="hibernate.connection.pool_size">20</property>
		<property name="hibernate.show_sql">true</property>
		<property name="hibernate.hbm2ddl.auto">update</property>
		<mapping resource="com/jvwl/model/Student.hbm.xml"/>
		<mapping resource="com/jvwl/model/Clazz.hbm.xml"/>
		<mapping resource="com/jvwl/model/Grade.hbm.xml"/>
		<mapping resource="com/jvwl/model/Department.hbm.xml"/>
		<mapping resource="com/jvwl/model/User.hbm.xml"/>
		<mapping resource="com/jvwl/model/Log.hbm.xml"/>
	</session-factory>
</hibernate-configuration>